<% content_for :cover do %>
  <div class="cover">
    <div class="cover-inner">
      <div class="cover-contents">
        <h1>風景をコレクションしよう</h1>
          <% unless logged_in? %>
            <%= link_to 'SCENERY COLLECTIONを始める', signup_path, class: 'btn btn-primary btn-lg' %>
          <% end %>
      </div>
    </div>
  </div>
<% end %>

<p>テスト</p>